.gray {
    color: #767676
}

h6 {
   color: #DE1E28;
}

.mar-zero {
    margin: 0;
}

.pad-zero {
    padding: 0
}

.pad-top-bot {
    padding: 10px 0
}

.no-wrap {
    white-space: nowrap;
}

.small-font {
    font-size: 80%;
}

.cars-count {
    font-weight: bold;
    padding: 10px 0;
    color: #0d0d0d;

}